<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.tencent.rapidview">

    <application
            android:name="com.tencent.rapidviewdemo.DemoApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.RapidView" >
        <activity
                android:name="com.tencent.rapidviewdemo.MainActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
                android:exported="true"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MARKET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.tencent.rapidview.control.RuntimeInnerActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>